<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <title>Todo App</title>
</head>
<body>
<div class="wrapper">
    <div class="lists-wrapper">
        <ul id="lists">
            {% for list in lists %}
            <li><a href="/list/{{list.id}}">{{list.name}}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="todos-wrapper">
        <div class="content">
            <div class="header">
                <h4>{{active_list.name}}</h4>
                <p><a href="#">Complete All</a></p>
            </div>
            <form id="form">
                <input type="text" id="description" name="description"/>
                <input type="submit" value="Create"/>
            </form>

            <div class="hidden" id="error">Some thing wrong!!</div>
            <ul id="todos">
                {% for todo in todos %}
                <li><input data-id="{{todo.id}}" class="check-completed" type="checkbox" {% if todo.completed %}
                           checked {% endif %}>
                    {{ todo.description }}
                    <button class="delete-btn" data-id="{{todo.id}}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>